/*****************************************
 * File: "templates/agent.mustache"
 * --------------------------------
 * Sidecar Frida Agent Mustache Template
 *
 *  https://github.com/huan/sidecar
 *  Huan <zixia@zixia.net>
 *  June 24, 2021
 *****************************************/

/***********************************
 * File: "templates/agent.mustache"
 *  > Partials: "libs/payload.js"
 ***********************************/
{{> libs/payload.js}}

/***********************************
 * File: "templates/agent.mustache"
 *  > Partials: "libs/log.js"
 ***********************************/
{{> libs/log.js }}

log.level('{{ logLevel }}')

/****************************************************
 * File: "templates/agent.mustache
 *  > Get base address for target {{{ targetProcess }}}
 ****************************************************/
const sidecarModuleBaseAddress = Module.getBaseAddress('{{{ moduleName }}}')

/***********************************
 * File: "templates/agent.mustache
 *  > Variable: "initAgentSource"
 ***********************************/
{{{ initAgentSource }}}

/********************************************
 * File: "templates/agent.mustache
 *  > Partials: "native-functions.mustache"
 ********************************************/
{{> native-functions.mustache }}

/**************************************
 * File: "templates/agent.mustache"
 *  > Partials: "interceptors.mustache"
 **************************************/
{{> interceptors.mustache }}

/********************
 * RPC Exports Init *
 ********************/
function init () {
  log.verbose('SidecarAgent', 'init()')

  /**
   * Huan(202106) return 42 to let caller to make sure that
   *  this function has been runned successfully.
   */
  return 42
}

rpc.exports = {
  init,
  ...rpc.exports,
}

/**************************************
 * File: "templates/agent.mustache"
 *  > Partials: "rpc-exports.mustache"
 **************************************/
{{> rpc-exports.mustache }}
