/******************************************************************
 * File: "interceptors-address.mustache"
 *
 * Interceptor Target: {{ name }}
 *  - type: {{ target.type }}
 *  - address: {{ target.address }}
 *  - Parameters: {{{ nativeParamTypes }}}
 ******************************************************************/
const {{ name }}_Interceptor_target =
{{# target.moduleName }}
  Module.getBaseAddress('{{ target.moduleName }}')
{{/ target.moduleName}}
{{^ target.moduleName }}
  sidecarModuleBaseAddress
{{/ target.moduleName}}
  .add({{ target.address }})

Interceptor.attach(
  {{ name }}_Interceptor_target,
  {
    onEnter: args => {
      log.verbose(
        'SidecarAgent',
        'Interceptor.attach(0x%s) onEnter()',
        Number({{ target.address }}).toString(16),
      )

      send(sidecarPayloadHook(
        '{{ name }}',
        {{ jsArgs }}
      ), null)

    },
  }
)
