/**********************************************************
 * File: "interceptors-agent.mustache"
 *
 * Interceptor Target: {{ name }}
 *  - varName: {{ target.varName }}
 *  - Parameters: {{{ nativeParamTypes }}}
 **********************************************************/
Interceptor.attach(
  /**
   *  Huan(202107): `target` at here is a native ptr
   *    which is declared in the `initAgentScript`
   *    for workaround
   */
  {{ target.varName }},
  {
    onEnter: args => {
      log.verbose(
        'SidecarAgent',
        'Interceptor.attach(%s) onEnter()',
        '{{ target.varName }}',
      )

      send(hookPayload(
        '{{ name }}',
        {{ jsArgs }}
      ), null)

    },
  }
)
