/*****************************************************************
 * File: "native-function-export.mustache"
 *
 * Native Function: {{ name }}
 *  - moduleName: {{ target.moduleName }}
 *  - exportName: {{ target.exportName }}
 *  - Parameters: {{{ nativeParamTypes }}}
 *  - Ret: {{ retType }}
 ******************************************************************/
const {{ name }}_NativeFunction_address = Module.getExportByName(
{{# target.moduleName }}
  '{{ target.moduleName }}',
{{/ target.moduleName}}
{{^ target.moduleName }}
  null,
{{/ target.moduleName}}
  '{{ target.exportName }}',
)

const {{ name }}_NativeFunction = new NativeFunction(
  {{ name }}_NativeFunction_address,
  {{{ nativeRetType }}},
  [{{{ nativeParamTypes }}}],
)

function {{ name }}_NativeFunction_wrapper (...args) {
  log.verbose(
    'SidecarAgent',
    '{{ name }}(%s)',
    args.join(', '),
  )

  {{{ declareNativeArgs }}}

  const ret = {{ name }}_NativeFunction(...{{ nativeArgs }})
  return {{ jsRet }}
}
