/*****************************************************************
 * File: "native-function-export.mustache"
 *
 * Native Function: {{ name }}
 *  - moduleName: {{ target.moduleName }}
 *  - exportName: {{ target.exportName }}
 *  - Parameters: {{{ nativeParamTypes }}}
 *  - Ret: {{ retType }}
 ******************************************************************/

const function __sidecar__{{ name }}_NativeFunction_wrapper = (() => {
  const nativeFunctionAddress = Module.getExportByName(
  {{# target.moduleName }}
    '{{ target.moduleName }}',
  {{/ target.moduleName}}
  {{^ target.moduleName }}
    null,
  {{/ target.moduleName}}

    '{{ target.exportName }}',
  )

  const nativeFunction = new NativeFunction(
    nativeFunctionAddress,
    {{{ nativeRetType }}},
    [{{{ nativeParamTypes }}}],
  )

  return function (...args) {
    log.verbose(
      'SidecarAgent',
      '{{ name }}(%s)',
      args.join(', '),
    )

    {{{ declareNativeArgs }}}

    const ret = nativeFunction(...[{{{ nativeArgs }}}])
    return {{ jsRet }}
  }

})()

