/*****************************************************************
 * File: "native-functino-address.mustache"
 *
 * Native Function: {{ name }}
 *  - address: {{ target.address }}
 *  - Parameters: {{{ nativeParamTypes }}}
 *  - Ret: {{ retType }}
 ******************************************************************/
const {{ name }}_NativeFunction_address =
{{# target.moduleName }}
  Module.getBaseAddress('{{ target.moduleName }}')
{{/ target.moduleName}}
{{^ target.moduleName }}
  sidecarModuleBaseAddress
{{/ target.moduleName}}
  .add({{ target.address }})

const {{ name }}_NativeFunction = new NativeFunction(
  {{ name }}_NativeFunction_address,
  {{{ nativeRetType }}},
  [{{{ nativeParamTypes }}}],
)

function {{ name }}_NativeFunction_wrapper (...args) {
  log.verbose(
    'SidecarAgent',
    '{{ name }}(%s)',
    args.join(', '),
  )

  {{{ declareNativeArgs }}}

  const ret = {{ name }}_NativeFunction(...{{ nativeArgs }})
  return {{ jsRet }}
}
