/**
 * Native Function (Address): {{ name }} / {{ target }}
 *  Parameters: {{{ nativeParamTypes }}}
 *  Ret: {{ retType }}
 */
// Huan(202106): which name is better: address, or target?
const {{ name }}_NativeFunction_address = sidecarModuleBaseAddress.add({{ target }})

const {{ name }}_NativeFunction = new NativeFunction(
  {{ name }}_NativeFunction_address,
  {{{ nativeRetType }}},
  [{{{ nativeParamTypes }}}],
)

function {{ name }}_NativeFunction_wrapper (...args) {
  log.verbose(
    'SidecarAgent'
    '{{ name }}(%s)',
    args.join(', '),
  )

  {{{ declareNativeArgs }}}

  const ret = {{ name }}_NativeFunction(...{{ nativeArgs }})
  return {{ jsRet }}
}
