/********************************************
 * File: "native-function-agent.mustache"
 *
 * Native Function: {{ name }}
 *  - varName: {{ target.varName }}
 *  - Parameters: {{{ nativeParamTypes }}}
 *  - Ret: {{ retType }}
 ********************************************/

const __sidecar__{{ name }}_NativeFunction_wrapper = function (...args) {
  log.verbose(
    'SidecarAgent',
    '{{ name }}(%s)',
    args.join(', '),
  )

  {{{ declareNativeArgs }}}

  const ret = {{ target.varName }}(...[{{{ nativeArgs }}}])
  return {{ jsRet }}
}
