/*****************************************************************
 * File: "native-functino-agent.mustache"
 *
 * Native Function: {{ name }}
 *  - varName: {{ target.varName }}
 *  - Parameters: {{{ nativeParamTypes }}}
 *  - Ret: {{ retType }}
 ******************************************************************/
function {{ name }}_NativeFunction_wrapper (...args) {
  log.verbose(
    'SidecarAgent',
    '{{ name }}(%s)',
    args.join(', '),
  )

  {{{ declareNativeArgs }}}

  /**
    * Huan(202107):
    *  `target` at here is a `agent` type `target`,
    *  which means that it is a native function ptr
    *  defined from the `initAgentSource`
    */
  const ret = {{ target.varName }}(...{{ nativeArgs }})
  return {{ jsRet }}
}
